body{
  background-color: #283149;
  text-align: center;
}
h1{
font-size: 5em;
color: #dbedf3;
font-family: "Arvo",serif;
text-shadow: 3px 0 #da0463;
}
.pie{
  color: #dbedf3;
  font-family: sans-serif;
}
.teclado{
  margin: 10% auto;
}
.presionado{
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}
.caja{
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: "Arvo",serif;
  line-height: 2;
  font-weight: 700;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: #fff;
}
.w{
  background-image: url(imagenes/tom1.png);
}
.a{
  background-image: url(imagenes/tom2.png);
}
.s{
  background-image: url(imagenes/tom3.png);
}
.d{
  background-image: url(imagenes/tom4.png);
}
.j{
  background-image: url(imagenes/snare.png);
}
.k{
  background-image: url(imagenes/crash.png);
}
.l{
  background-image: url(imagenes/kick.png);
}
